<html>
<head>

    <!--    <link rel="stylesheet"-->
    <!--          href="https://horizon-tailwind-react-git-tailwind-components-horizon-ui.vercel.app/static/css/main.ad49aa9b.css"/>-->
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
<div class="flex h-screen w-full bg-red  justify-center items-center dark:bg-slate-900">>
    <div>
        <div class="w-2/3 mx-auto">
            <div class="bg-slate-800 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
                <div>
        <span class="inline-flex items-center justify-center p-2 bg-indigo-500 rounded-md shadow-lg">
          <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
          </svg>
        </span>
                </div>
                <h3 class="mt-5 text-base font-medium text-white tracking-tight">Writes Upside-Down</h3>
                <p class="mt-2 text-sm text-slate-400">
                    The Zero Gravity Pen can be used to write in any orientation, including upside-down. It even works
                    in outer space.
                </p>

                <div id="app"></div>

            </div>
        </div>

    </div>
</div>
<script defer src="/static/js/app.js"></script>
<script id="settings" type="application/json">
    {
        "themes": {


            }
    }
</script>
<script type="module">


    document.documentElement.classList.add('dark')
    window.addEventListener("DOMContentLoaded", (event) => {

    });


</script>
</body>
</html>